<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css" />

</head>
<body>
    <h1><u>Oh JSON Where Are You?</u></h1>

    <p>Hello! In the browser search bar above you have the link "localhost:3000/".
        <br>
        <br>
        Now, after the slash, type in either "all" or any number 1-10.
        <br>
        <br>
        Watch before your eyes as the data snaps back at you!
    </p>

    <h3>Shortcuts: </h3>

    <a href="http://localhost:3000/all"><button>All</button></a>

    <ul>
        <li><a href="http://localhost:3000/1"><button>1</button></a></li>
        <li><a href="http://localhost:3000/2"><button>2</button></a></li>
        <li><a href="http://localhost:3000/3"><button>3</button></a></li>
        <li><a href="http://localhost:3000/4"><button>4</button></a></li>
        <li><a href="http://localhost:3000/5"><button>5</button></a></li>
        <li><a href="http://localhost:3000/6"><button>6</button></a></li>
        <li><a href="http://localhost:3000/7"><button>7</button></a></li>
        <li><a href="http://localhost:3000/8"><button>8</button></a></li>
        <li><a href="http://localhost:3000/9"><button>9</button></a></li>
        <li><a href="http://localhost:3000/10"><button>10</button></a></li>
    </ul>
    
</body>
</html>