<h3>JSON Data Shortcuts:</h3>

<a href="http://localhost:3000/all"><button>All</button></a>

<ul>
    <li><a href="http://localhost:3000/1"><button>1</button></a></li>
    <li><a href="http://localhost:3000/2"><button>2</button></a></li>
    <li><a href="http://localhost:3000/3"><button>3</button></a></li>
    <li><a href="http://localhost:3000/4"><button>4</button></a></li>
    <li><a href="http://localhost:3000/5"><button>5</button></a></li>
    <li><a href="http://localhost:3000/6"><button>6</button></a></li>
    <li><a href="http://localhost:3000/7"><button>7</button></a></li>
    <li><a href="http://localhost:3000/8"><button>8</button></a></li>
    <li><a href="http://localhost:3000/9"><button>9</button></a></li>
    <li><a href="http://localhost:3000/10"><button>10</button></a></li>
</ul>